body {
  font-family: Arial;
}

.headerContainer {
  height: 50px;
  padding: 15px;
}

.inputContainer {
  margin-top: 10px;
  padding: 15px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  background-color: #e6e6e6;
}

h1 {
  text-align: center;
  margin: 0;
}

#descriptionInput {
  height: 30px;
  border-radius: 4px;
  padding-left: 10px;
  margin-left: 15px;
  border: 1px solid gray;
}

#valueInput {
  height: 30px;
  width: 100px;
  border-radius: 4px;
  padding-left: 5px;
  margin-left: 15px;
  border: 1px solid gray;
}

#budgetType {
  height: 30px;
  background: white;
  border-radius: 4px;
  border: 1px solid gray;
  cursor: pointer;
}

.budgetContainer {
  display: flex;
  margin-top: 15px;
  justify-content: space-around;
}

.incomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.expenseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.leftContainer {
  display: flex;
  align-items: center;
}
.deleteIcon {
  margin-left: 20px;
  cursor: pointer;
}

button {
  height: 30px;
  border-radius: 4px;
  margin-left: 15px;
  cursor: pointer;
  background: green;
  color: white;
  border: none;
  font-weight: 500;
}

.budgetEntry {
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid;
  padding: 5px 15px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.salaryText {
  font-size: 16px;
}

.salaryAmount {
  font-size: 14px;
  font-family: Arial;
  font-weight: 500;
}

h3 {
  margin: 0;
}

.incomeText {
  color: green;
}

.expenseText {
  color: #dc0000;
}

.summaryContainer {
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block {
  padding: 5px 15px;
  margin: 5px;
  min-width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amountText {
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}
